.leaderboard {

}

.leaderboard li {
    /*border-bottom: 1px dotted #dbdee1;*/
}

.leaderboard li:last-child {
    border-bottom: none;
}

.leaderboard .leaderboard__row {
    display: flex;
}

.leaderboard .leaderboard__row__place {
    padding-right: 10px;
    color: #AAAEB3;
    font-size: 0.9rem;
}

.leaderboard .leaderboard__row__name {
    flex-grow: 1;
}

.leaderboard .leaderboard__row__games {
    width: 40px;
    text-align: center;
    font-size: 0.8rem;
}

.leaderboard .leaderboard__row__score {
    width: 40px;
    text-align: center;
    font-size: 0.8rem;
}

.leaderboard .leaderboard__row__title__games {
    width: 40px;
    color: #AAAEB3;
    text-align: center;
    font-size: 0.8rem;
}

.leaderboard .leaderboard__row__title__score {
    width: 40px;
    color: #AAAEB3;
    text-align: center;
    font-size: 0.8rem;
}