.teamscorelist {

}

.teamscorelist li {
    border-bottom: 1px dotted #dbdee1;
}

.teamscorelist li:last-child {
    border-bottom: none;
}

.teamscore {
    display: flex;
}

.teamscore__place {
    padding-right: 10px;
    color: #AAAEB3;
    font-size: 0.9rem;
}

.teamscore__name {
    flex-grow: 1;
}

.teamscore__games {
    width: 40px;
    text-align: center;
    font-size: 0.8rem;
}

.teamscore__score {
    width: 40px;
    text-align: center;
    font-size: 0.8rem;
}

.teamscore__title__games {
    width: 40px;
    color: #AAAEB3;
    text-align: center;
    font-size: 0.8rem;
}

.teamscore__title__score {
    width: 40px;
    color: #AAAEB3;
    text-align: center;
    font-size: 0.8rem;
}